version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development
      - DB_NAME=chatdb
      - DB_USER=postgres
      - DB_PASSWORD=QweAsdZxc
      - DB_HOST=database
      - DB_PORT=5432
      - PORT=3000
      - JWT_ACCESS_SECRET=secretzxc
      - JWT_REFRESH_SECRET=secretzxc
    volumes:
      - ./backend:/app
      - /app/node_modules
    depends_on:
      - database
    restart: on-failure

  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    environment:
      - VITE_API_URL=http://localhost:3000
    volumes:
      - ./frontend:/app
      - /app/node_modules
    restart: unless-stopped

  database:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: chatdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: QweAsdZxc
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  postgres_data: